{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@components": "./src/components",
        "@pages": "./src/pages",
        "@routes": "./src/routes",
        "@services": "./src/services",
        "@utils": "./src/utils"
      }
    }]
  ]
}
